body {
  font-family: Arial, Helvetica, sans-serif;

}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: #183D3D;
}

#header h1 {
  font-size: 4rem;
  color: #fdfbfb;
}

.sisi-atas {
  display: flex;
  justify-content: center;
  letter-spacing: 15rem;
  margin-top: 5rem;
  margin-bottom: -5rem;
  margin-left: 14.8rem;
}

.sisi-bawah {
  display: flex;
  justify-content: center;
  letter-spacing: 15rem;
  margin-top: -5rem;
  margin-bottom: -5rem;
  margin-left: 14.8rem;
}

.black-square {
  display: flex;
  justify-content: center;
  margin: 6rem auto;
  height: 150px;
  width: 150px;
  background-color: rgb(242, 242, 242);
  border-color: black;
  border: 2px solid;
}

#desc {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

#desc h3,
#rumus {
  text-align: center;
}

#rumus {
  margin-top: -0.5rem;
  letter-spacing: 0.2rem;
}

hr {
  border: 2px solid;
  border-color: grey;
}

#hitung {
  display: flex;
  flex-direction: column;
}

#hitung h1 {
  font-size: 2.4rem;
  text-align: center;
}

input {
  border-radius: 4px;
  width: 80%;
  margin: 1rem auto;
  outline: none;
  padding: 10px;
}

input:focus {
  border-color: #d1460f;
}

#hitung p {
  font-size: 1.2rem;
}

.btn-hitung {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #183D3D;
  border: none;
  border-radius: 5px;
  width: 6rem;
  height: 3rem;
  color: #ecebeb;
  font-size: 1.6rem;
}

.btn-hitung:active {
  transform: translateY(2px);
}

.btn-hitung:hover {
  filter: opacity(50%);
  color: #ffffff;
  border: 2px solid;
  border-color: #93B1A6;
}

.btn-reset {
  display: flex;
  align-items: center;
  margin-right: 3rem;
  justify-content: center;
  background-color: 93B1A6;
  border: none;
  border-radius: 5px;
  width: 6rem;
  height: 3rem;
  color: #000000;
  font-size: 1.6rem;
}

.btn-reset:active {
  transform: translateY(2px);
}

.btn-reset:hover {
  color: #0300009a;
  border: 2px solid;
  border-color: rgb(2, 1, 0);
}


#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #040D12;
  height: 50px;
  width: 100%;
  color: #fdfbfb;
  margin-top: 5rem;
}

#footer h4 {
  font-size: 2.4rem;
}

@media(max-width: 992px) {

  html {
      font-size: 75%;
  }

  .btn-hitung {
      width: 5rem;
      height: 2rem;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-bottom: 2.3rem;
  }

  .btn-reset {
      width: 5rem;
      height: 2rem;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-bottom: 2.3rem;
  }

}


/* Tablet */
@media(max-width: 768px) {

  html {
      font-size: 65%;
  }

  .btn-hitung {
      width: 5rem;
      height: 2rem;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-bottom: 2.3rem;
  }

  .btn-reset {
      width: 5rem;
      height: 2rem;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-bottom: 2.3rem;
  }

}

/* Mobile Phone */
@media(max-width: 576px) {

  html {
      font-size: 60%;
  }

  .btn-hitung {
      width: 5rem;
      height: 2rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-bottom: 2rem;
  }

  .btn-reset {
      width: 5rem;
      height: 2rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-bottom: 2rem;
  }

}